* {
  box-sizing: border-box;
  scroll-margin-top: 100px;
  scroll-behavior: smooth;
}
body {
  background-color: slategray;
}

header {
  background-color: #2a607c;
  position: fixed;
  color: aliceblue;
  top: 0;
  left: 0;
  padding-left: 10%;
  height: 5 vh;
  width: 100%;
}
h1 {
  font-size: 2em;
  color: aliceblue;
}
nav {
  display: flexbox;
  position: fixed;
  justify-content: space-between;
  /* border: 10px solid black; */
  top: 10px;
  right: 15px;
  padding: 5px;
  height: 75px;
  width: 60%;
}

header nav ul li {
  margin-top: -15px;
  display: inline-block;
  justify-content: right;
}

nav a {
  font-size: 2em;
  color: aliceblue;
  margin-left: 10px;
  text-decoration: none;
  scroll-margin-top: -500px;
}
main {
  margin-top: 150px;
}

#headshot {
  margin-left: 25px;
}
p {
  text-indent: 25px;
}

.infoCard {
  display: flexbox;
  background-color: aliceblue;
  flex-direction: column;
  border: 10px solid black;
  height: fit-content;
  width: auto;
  margin: 5%;
  padding: 15px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: #2196a3;
}
.grid-item {
  grid-gap: 5px 5px;
  grid-column: 65px;
  grid-row: 65px;
  border: 1px solid darkslategray;
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
}
