* {
  box-sizing: border-box;
  scroll-margin-top: 100px;
  scroll-behavior: smooth;
}
body {
  background-color: slategray;
}

header {
  background-color: #2a607c;
  position: fixed;
  color: aliceblue;
  top: 0;
  left: 0;
  padding-left: 10%;
  height: 5 vh;
  width: 100%;
}
h1 {
  font-size: 2em;
  color: aliceblue;
}
nav {
  display: flexbox;
  position: relative;
  text-align: justify;
  justify-content: space-between;
  float: right;
  flex-wrap: wrap;
  top: 10px;
  right: 15px;
  padding: 5px;
  height: 75px;
  width: 60%;
}

header nav ul li {
  margin-top: -15px;
  display: inline-block;
  justify-content: right;
  flex-wrap: wrap;
}

nav a {
  font-size: 2em;
  color: aliceblue;
  margin-left: 10px;
  text-decoration: none;
  scroll-margin-top: -500px;
}
main {
  margin-top: 150px;
}

.infoCard {
  display: flexbox;
  display: inline-block;
  background-color: aliceblue;
  flex-direction: column;
  border: 10px solid black;
  height: fit-content;
  width: auto;
  margin: 5%;
  padding: 15px;
}

#headshot {
  margin-right: 35px;
  height: auto;
  max-width: 100%;
}
p {
  text-indent: 25px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: #2196a3;
}
.grid-item {
  justify-content: center;
  align-items: center;
  grid-gap: 5px 5px;
  border: 1px solid darkslategray;
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
}

.aboutMe {
  display: flex;

  justify-content: center;
  align-items: center;
}
#aboutMeImg {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 150px;
  max-width: 100%;
}
.resume {
  display: flex;

  justify-content: center;
  align-items: center;
}

.weatherTracker {
  display: flex;

  justify-content: center;
  align-items: center;
}
#weatherTrackerImg {
  display: block;

  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 150px;
  max-width: 100%;
}

.MtnMadness {
  display: flex;

  justify-content: center;
  align-items: center;
}

#MtnMadnessImg {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 150px;
  max-width: 100%;
}
.JavaScriptQuiz {
  display: flex;

  justify-content: center;
  align-items: center;
}
#JSquiz {
  display: block;

  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 150px;
  max-width: 100%;
}
